h1, h2, h3, h4 h5, h6 {
    margin-bottom: 0;
}

.navbar-icon {
    width: 20px;
}

.navbar-title {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.collapse {
    flex-grow: 0;
}

.navbar {
    z-index: 1030;
}

.seccion-quienes-somos {
    background-color: #000000;
}

.titulo-seccion {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.seccion-destacados {
    background-color: #000000;
}

.card-img-top {
    height: 162px;
}

.card-body {
    max-height: 198px;
    overflow: hidden;
    
}